

<%- include('partials/header'); -%>
    <!-- MAIN CONTENT -->
    <div class="container p-5 font-weight-bolder " data-aos="zoom-in-down">
        <h2 class="display-5">
            About Me
        </h2>
        <div class="row mt-3">
            <div class="col-md-3">
                <img src="../images/kaushal.jpeg" class="imgHeight">
            </div>
            <div class="col-md-9" style="padding-left: 61px;">
                <!--Title-->
                <p>Hello there! I am kaushal pandya</p>
                <!--About me information-->
                <p> I am a team player, seeking for opportunity to prove my self with best of my abilities.
                    strong understanding of software development cycles. data testing tequniques.
                    strong knowledge about cloud infrastructure, like AWS, google cloud, Azure. also work experience as site reliablity engineer.
                    in free time reading books and play competitive games.</p>
                <h3 class="display-7">Resume</h3>
                <p><a class="btn btn-info" href="CV.pdf" role="button">Click here</a> to view my resume.</p>
            </div>
        </div>

    </div>

    <%- include('partials/script'); -%>