
<%- include('partials/header'); -%>
    <!-- MAIN CONTENT -->
    <div class="container p-4 font-weight-bolder" data-aos="zoom-out">
        <form action="/contact" method="POST">
            <div class="row">
                 <!--Title-->
                <h1 class="display-5">Contact Me</h1>
                <div>
                    
                </div>
                <div class="row well">
                    <div class="col-md-12">
                        <ul style="list-style: none; padding: 0;">
                            <!--Contacts-->
                            <li>Email Address: <a href="mailto:kaushalrn.449@gmail.com">kaushalrn.449@gmail.com</a></li>
                            <li>Phone: (+91) 7016405982</li>
                        </ul>
                    </div>
                </div>
                <!--Contact me form-->
                <div class="col-md-4">
                    <!-- Form Inputs-->
                    <div class=" form-group">
                        <label for="firstName">First Name</label>
                        <input class="form-control" name="firstName" id="firstName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" form-group">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" name="lastName" id="lastName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" form-group">
                        <label for="email">Email</label>
                        <input class="form-control" name="email" id="email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="mb-2" for="message">Message</label>
                        <textarea name="message" class="form-control" id="message">
            </textarea>
                    </div>
                </div>
                <div class=" form-group mt-3 col-md-12 text-center">
                    <button class="btn btn-outline-light btn-lg" type="submit">Submit</button>
                </div>
                <p></p>
                <p>We can also get in touch via <a class="btn btn-primary" href="https://www.linkedin.com/in/kaushal-pandya-24308614a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BTEUE28sERyyfE2R3mdvJrw%3D%3D" role="button">LinkedIn</a></p>
            </div>
        </form>
    </div>

<%- include('partials/script'); -%>


