

<%- include('partials/header'); -%>

    <div class="container font-weight-bolder" data-aos="zoom-in-right">
        <h1 class="display-5">My Projects</h1>
        <p></p>
        <div>
            <div class="row">
                <div class="col-md-3">
                    <img src="../images/projects/NLP.jpg" class="imgHeight">
                </div>
                <div class="col-md-9">
                     <!--Project Name-->
                    <h4 class="display-7">Image caption generation</h4>
                    <!--Project Description-->
                    <p>During my study, our team worked on a system which can generate caption of an given image using NLP. our aim is to archive 
                        best suitable caption of an image, from which we can derive and perform desire action.
                    </p>
                    <p>
                    </p>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-md-3 ">
                    <img src="../images/projects/game.jpg" class="imgHeight">
                </div>
                <div class="col-md-9">
                    <!--Project Name-->
                    <h4 class="display-7">Game development</h4>
                    <!--Project Description-->
                    <p>It wwas not a good project but all a fun project in which our team go through the process of game development. and create some basic games
                        it was not a lot but we learn how to use unity game engine.</p>
                
                        &nbsp;&nbsp;

                    </p>
                </div>

            </div>
        </div>
    </div>

    <%- include('partials/script'); -%>