

    <!-- MAIN CONTENT -->
    <div class="container p-5 mt-2 transparent" data-aos="zoom-in-down">
        <!--Title-->
        <h1 class="display-5">Work experience</h1>
        <!--Work description-->
        <p>In last few years i have about one year experience as a fresher. in below i will show that to you</p>
        <p>
            &nbsp;
        </p>
        <div class="row">
            <div class="col-md-3">
                <img src="../images/services/sre.jpg" class="imgHeight">
            </div>
            <div class="col-md-9">
                <!--Position-->
                <h2 class="display-7">Site reliablity engineer</h2>
                <!--Description-->
                <p> Site reliability engineering (SRE) uses software engineering to automate IT operations tasks - e.g. production system management, change management, 
                    incident response, even emergency response - that would otherwise be performed manually by systems administrators</p>
            </div>
            <div class="col-md-3 mt-5">
                <img src="../images/services/QA.jpg" class="imgHeight">
            </div>
            <div class="col-md-9 mt-5">
                <!--Position-->
                <h2 class="display-7">Quality Analyst</h2>
                <!--Description-->
                <p>Quality is extremely hard to define, and it is simply stated: “Fit for use or purpose.” It is all about meeting the needs and expectations
                     of customers with respect to functionality, design, reliability, durability, & price of the product.</p>
            </div>


        </div>
    </div>

